#header {
    text-align: center;
}

#instructions {
    text-align: center;
}

#delimiterSelect, #delimiterSelectLabel {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

textarea {
    resize: none;
}

#inputTextArea {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 25vh;
    width: 50vw;
}

#outputTextArea {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 25vh;
    width: 50vw;
}

.buttonDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

#sortButton {
    display: inline-block;
    margin-top: 1vh;
    margin-bottom: 1vh;
    margin-left: 1vw;
    margin-right: 1vw;
}

#copyButton {
    display: inline-block;
    margin-top: 1vh;
    margin-bottom: 1vh;
    margin-left: 1vw;
    margin-right: 1vw;
}

#clearButton {
    display: inline-block;
    margin-top: 1vh;
    margin-bottom: 1vh;
    margin-left: 1vw;
    margin-right: 1vw;
}

#footer {
    text-align: center;
}